In [29]:
import pandas as pd

# Read CSV file and manipulate data frames

file_path = '/content/players_20.csv'
df = pd.read_csv(file_path)

In [30]:
#Perform simple data cleaning tasks
#Drop rows with missing values
df.dropna(inplace=True)

#Remove duplicate rows
df.drop_duplicates(inplace=True)

In [31]:
# Displaying results (optional)
print("Original DataFrame:")
print(df.head())

Original DataFrame:
          short_name                            long_name  age  weight_kg  \
0           L. Messi       Lionel Andrés Messi Cuccittini   32         72
1  Cristiano Ronaldo  Cristiano Ronaldo dos Santos Aveiro   34         83
2          Neymar Jr        Neymar da Silva Santos Junior   27         68
3           J. Oblak                            Jan Oblak   26         87
4          E. Hazard                          Eden Hazard   28         74

  nationality                 club  overall  wage_eur player_positions  \
0   Argentina         FC Barcelona       94    565000       RW, CF, ST
1    Portugal             Juventus       93    405000           ST, LW
2      Brazil  Paris Saint-Germain       92    290000          LW, CAM
3    Slovenia      Atlético Madrid       91    125000               GK
4     Belgium          Real Madrid       91    470000           LW, CF

  preferred_foot  international_reputation  weak_foot  skill_moves  \
0           Left                         5          4            4
1          Right                         5          4            5
2          Right                         5          5            5
3          Right                         3          3            1
4          Right                         4          4            4

  team_position  team_jersey_number  Unnamed: 15  contract_valid_until  \
0            RW                10.0          NaN                2021.0
1            LW                 7.0          NaN                2022.0
2           CAM                10.0          NaN                2022.0
3            GK                13.0          NaN                2023.0
4            LW                 7.0          NaN                2024.0

  nation_position  nation_jersey_number
0             NaN                   NaN
1              LS                   7.0
2              LW                  10.0
3              GK                   1.0
4              LF                  10.0

Data manipulation operations

Filtering data

In [32]:

# Filter rows where 'column_name' equals a certain value
filtered_df = df[df['team_jersey_number'] == 10]
print("\nFiltered DataFrame:")
print(filtered_df['short_name'])

Filtered DataFrame:
0                L. Messi
2               Neymar Jr
8               L. Modrić
12                H. Kane
17              S. Agüero
               ...
16723        B. Palmezano
16749    E. Maulana Vikri
17055         Ji Xiaoxuan
17067          R. Cretaro
17070        M. McCrudden
Name: short_name, Length: 581, dtype: object

Sorting data

In [33]:

# Sort by 'column_name' in ascending order
sorted_df = df.sort_values(by='nationality')
print("\nSorted DataFrame:")
print(sorted_df.head())

Sorted DataFrame:
         short_name         long_name  age  weight_kg  nationality  \
14860      N. Husin        Noor Husin   22         65  Afghanistan
11806       H. Amin       Hassan Amin   27         69  Afghanistan
5418   A. Ajdarević  Astrit Ajdarević   29         85      Albania
1518     E. Berisha     Etrit Berisha   30         92      Albania
2811    B. Djimsiti   Berat  Djimsiti   26         83      Albania

                 club  overall  wage_eur player_positions preferred_foot  \
14860       Stevenage       60      2000          CM, CDM          Right
11806       SV Meppen       64      1000               LB           Left
5418   Djurgårdens IF       70      4000               CM           Left
1518             SPAL       76     11000               GK           Left
2811         Atalanta       73     34000               CB          Right

       international_reputation  weak_foot  skill_moves team_position  \
14860                         1          2            2           SUB
11806                         1          3            3            LB
5418                          1          2            3           LCM
1518                          2          2            1            GK
2811                          1          3            2           SUB

       team_jersey_number  Unnamed: 15  contract_valid_until nation_position  \
14860                12.0          NaN                2024.0             NaN
11806                 7.0          NaN                2020.0             NaN
5418                 10.0          NaN                2021.0             NaN
1518                 99.0          NaN                2020.0             NaN
2811                 19.0          NaN                2022.0             NaN

       nation_jersey_number
14860                   NaN
11806                   NaN
5418                    NaN
1518                    NaN
2811                    NaN

In [35]:
# Grouping data
# Example: Group by 'column_name' and calculate mean of another column
# Grouping data
# Example: Group by 'column_name' and calculate mean of another column
# Select numeric columns before calculating the mean
grouped_df = df.groupby('age').agg({'team_jersey_number': 'mean'})
print("\nGrouped DataFrame:")
print(grouped_df.head())

Grouped DataFrame:
     team_jersey_number
age
16            33.083333
17            33.672489
18            29.657277
19            27.904950
20            26.555466